.AllCards {
  display: flex;
  text-align: center;
}
.AllBody {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.buttonsFilters {
  align-self: flex-end;
  padding-bottom: 20px;
}
.CustomCard {
  border: 1px solid gray;
  flex: 1 1;
  display: flex;
  flex-direction: column;
}
.CustomCard:hover {
  background-color: #007bffe1;
  color: white;
}
.PlansAndPrices {
  font-size: 20px;
}
.ButtonSelect {
  align-self: end;
  margin-top: auto;
  align-self: center;
  margin-bottom: 10px;
}
.CardTitle {
  font-weight: bold;
  margin: 15px 0;
  font-size: 17px;
}
.CardValueAll {
  margin-bottom: 0;
}
.CardValue {
  font-size: 30px;
  font-weight: 100;
}
.CardValuePerYear {
  font-size: 12px;
}
.CardDesc {
  margin-top: 30px;
  font-size: 14px;
}
.CardList {
  list-style-type: none;
  padding-left: 10px;
  text-align: left;
  font-size: 13px;
}
.CardLi {
  padding-left: 20px;
}
select {
  cursor: pointer;
}
select:hover {
  background-color: #007bffe1;
  color: white;
}
select:active {
  background-color: #007bffe1;
  color: white;
}
@media only screen and (max-width: 768px) {
  .AllCards {
    flex-direction: column;
  }
}
